{% extends 'base.html' %}

{% block content %}
<h1>Lista de Empleados</h1>
<a href="{% url 'crear_usuario' %}" class="btn">Agregar Empleado</a>

<table>
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.username }}</td>
            <td>{{ empleado.email }}</td>
            <td>{{ empleado.rol }}</td>
            <td>
                <a href="{% url 'editar_usuario' empleado.id %}" class="btn">Editar</a>
                <a href="{% url 'eliminar_usuario' empleado.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}